:root {
  --background-color: #fff;
  --container-max-width: 90%;
  --button-bg-color: #4c33c8;
  --button-hover-bg-color: #2f12bf;
  --border-radius: 4px;
  --pre-container-padding: 15px;
  --font-size: 1.2rem;
  --pre-font-size: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: #000;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  overflow: hidden;
}

.content {
  background-color: var(--background-color);
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.pre-container {
  padding: var(--pre-container-padding);
  border-radius: var(--border-radius);
  margin: 1rem 0;
}

pre {
  white-space: pre-wrap;
  font-size: var(--pre-font-size);
  line-height: 1.5;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: #f5f5f5;
  max-width: 100%;
  overflow-x: auto;
}

@media (min-width: 480px) {
  pre {
    font-size: calc(var(--pre-font-size) * 1.25);
  }
}

@media (min-width: 768px) {
  pre {
    font-size: calc(var(--pre-font-size) * 1.5);
  }
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.footer-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: none;
}
